*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    max-height: 1080px;
    

}

html{
    max-height: 1080px;
    background-color: white;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
    /* scroll-padding-top: 6rem; */
}

section{
    
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    padding: 1.5rem 3rem 1.5rem 3rem;
    position: static;
    top:0; left: 0; right: 0;
    z-index: 1000;
	background-color: black;
    
}

.header .flex{
    align-items: center;
    display: flex;

}



/* MAIN */

.main{
    display: flex;
    height: 1003px;
}

/* left */

.main .left{
    z-index: 100;
    text-align: center;
    padding: 5rem 0 0 0;
    width: 28rem;
    box-shadow: 0 0 16px #ccc;
    
}
.main .left .photo{
    
}
.main .left .page{
    display: flex;
    align-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 3rem 0 0 0;
}

.main .left .page a {
    padding: 3rem 0 0 0;
}

/* right */

/* .main .right .id{
display:flex ;
   
}
.main .right  table{
    width: 1000px;
    margin-top: 6rem;
   
} */

.main .right .id{
    width: 1472px;
    margin-top: 2rem;
    display: flex;
    padding-left: 10rem;
    
   
}
.main .right .id h2{
    margin-left: 6rem;
}

.main .right  table{
    margin-left: 2rem;
    margin-top: 3rem;
    
    

}

.main .right  tr{
    
}

.main .right  th {
    width: 12rem;
    padding-right: 2rem;
    text-align: left;
    
}

.main .right  td{
    width: 8rem;
    padding-right: 2rem;
    text-align: left;
    padding-top: 1rem;
}